/*********************************************CSS_CONFIGURATION****************************************/


/********************STRUCTURE***********************/

/*****Header*****/
header {

	display: flex;
	        flex-direction: row;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	border-bottom: 0.156em double #202020;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#A4A4A4), to(#9C0202));
	-webkit-border-image: -webkit-linear-gradient(left, #A4A4A4, #9C0202);
	     -o-border-image: -o-linear-gradient(left, #A4A4A4, #9C0202);
	        border-image: -webkit-gradient(linear, left top, right top, from(#A4A4A4), to(#9C0202));
	        border-image: linear-gradient(to right, #A4A4A4, #9C0202);
	border-image-slice: 1;
	margin-right : 1em;	
	margin-bottom: 3.5em;
}

h1 {  
	font-size: 2.91rem;
	font-family: sans-serif;
	color: #A4A4A4;
}
/*****Body*****/
body {
	background: -webkit-radial-gradient(ellipse farthest-corner,
	#424242, #252525 30em, #1f1f22  50em, #2E2E2E);
	background: -o-radial-gradient(ellipse farthest-corner,
	#424242, #252525 30em, #1f1f22  50em, #2E2E2E);
	background: radial-gradient(ellipse farthest-corner,
	#424242, #252525 30em, #1f1f22  50em, #2E2E2E);
}

/*****Footer***/

/*******KEYFRAME ANIMATION********/
/*******KEYFRAME ANIMATION*****/

/*********MEDIA-QUERY-STRUCTURE-SETTING***********/
/**************MEDIA-QUERY-SETTING-END************/
/********************STRUCTURE-END**********************/

/*****************IN_INDEX.html*******************/
/*****************INDEX.html-END******************/

/*****************************************CSS_CONFIGURATION_END****************************************/
